.about {
    padding: 2rem;
    margin-bottom:8% ;
    color: black;
  }
  
  .about h1 {
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
    color: black;
    margin-bottom:5%;

  }
  
  .about p {
    margin-top:20px ;
    color: gray;
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--text-color);

  }
  
  .footer {
    background-color: black;
    color: var(--white-color);
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .footer__links li {
    font-size: var(--small-font-size);
  }
  
  .footer__links a {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer__links a:hover {
    color: #55BE96;
  }

  #f, ul {
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  