body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F5F5F5;; /* Black background */
    color: black; /* White text */
}

h1, h2 {
    text-align: center;
}
.expenses-list {
    margin: 20px;
    width: 90%; /* Set the width of the expenses list */
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}
.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #1C1C1C; /* Dark gray input section background */
}
#category-select {
    width: 130px; /* Set your desired width */
    height: 30px; /* Set your desired height */
}
.input-section label {
    font-weight: bold;
    margin-right: 10px;
    border-radius: 5px;
    color: #FFFFFF; /* White text */
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #55BE96; /* Neon green button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
    color: black;
}

table {
    width: 90%; 
    border-collapse: collapse;
    border-radius: 8px; 
    overflow: hidden; 
}

th, td {
    border: 1px solid #55BE96; /* Change border color for better visibility */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #55BE96; /* Neon green header */
    color:#FFFFFF;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #55BE96; /* Neon green button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
