.chart-heading {
    font-family: "Rubik", sans-serif;
    color: #023047;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
  
  .chart-container {
    width: 600px; /* Adjust chart container width */
    height: 400px; /* Adjust chart container height */
    margin: 0 auto;
  }
  
  .programming-stats {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content; 
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #023047;
    transition: all 400ms ease;
  }
  
  .programming-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  