


.insurance-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
}

.insurance-item {
    background-color:#55BE96; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; /* Padding */
    transition: transform 0.3s ease-in-out; 
}

.insurance-item:hover {
    transform: translateY(-5px); 
}

.insurance-item h3 {
    margin-bottom: 10px; 
    font-size: 18px; 
    color: #333; 
}

.insurance-item p {
    margin: 0; 
    font-size: 14px; 
    color: #666;
}


.main-heading {
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
    color: #333; 
}

