body {
  font-family: 'Arial', sans-serif;
  background-color:#ffffff; /* Darker shade of gray */
  margin: 0;
  padding: 0;
}

.chart-container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

canvas {
  display: block;
  margin: 0 auto;
}
