body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 420px;
    background-color: #55BE96;
    border: 2.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    margin: auto;
    margin-top: 50px; /* Adjust as needed */
    position: relative;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper button {
    width: 100%;
    height: 40px;
    background: #FFFFFF; /* Change background color to white */
    border: 2px solid transparent;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    color: #000000; /* Change text color to white */
    font-weight: 700;
    margin-top: 10px;
    transition: border-color 0.1s;
}

.button:hover {
    background-color: #fff;
    color: #55BE96;
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        max-width:60%; /* Adjust width to fit smaller screens */
        padding: 25px; /* Adjust padding for smaller screens */
    }
}